body {
    background: rgb(47, 89, 180);
}
h1 {
    font: normal 18pt Arial;
    text-align: center;
}
input#txtn1 {
    margin-left: 350px;
    text-align: center;
    font: normal 14pt Arial;
}
input#txtn2 {
    margin-left: 350px;
    align-items: center;
    text-align: center;
    font: normal 14pt Arial;
}
div#areaSomar {
    display: inline-block;
    margin-left: 351px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font: normal 18pt Arial;
}
div#areaSubtrair {
    display: inline-block;
    width: 31px;
    margin-left: 16px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font: normal 18pt Arial;
}
div#areaMultiplicar {
    display: inline-block;
    width: 31px;
    margin-left: 16px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font: normal 18pt Arial;
}
div#areaDividir {
    display: inline-block;
    width: 31px;
    margin-left: 16px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font: normal 18pt Arial;
}
div#areaPotencia {
    display: inline-block;
    width: 31px;
    margin-left: 16px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font: normal 18pt Arial;
}
div#resultado {
    font: normal 13pt Arial;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font: normal 20pt Arial;
}