body {
    background: black;
}
h1 {
    color: white;
    font: normal 20pt Arial;
}
input#nacionalidade {
    font: normal 15pt Arial;
}
div#res {
    color: white;
    font: normal 20pt Arial;
}
p {
    color: white;
    font: normal 20pt Arial;
}