body {
    
    background: rgb(218, 66, 28);
    margin: auto;
    text-align: center;
    color: rgb(255, 238, 0);
    background-image: url(marmita.png);
    font: normal 15pt Verdana;
}
section#cardapio {
    background: red;
    border-radius: 10px; /* borda arredondada */
    padding: 15px;
    width: 45%; /* largura */
    margin: 50px auto ; /* Margen centraliza automáticamente*/
    text-align: center;
    color: yellow;
    box-shadow: /*sombreamento da caixa*/ 5px /*deslocamento lateral*/ 5px /*deslocamento vertical*/ 10px /*espalhamento*/ rgba(0, 0, 0, 0.418);
    display: inline-block;
}
header#topo {
    background: red;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 50px auto;
    box-shadow: 5px  5px  10px  rgba(0, 0, 0, 0.418);
}
section#confirmar {
    background: red;
    border-radius: 10px;
    padding: 15px;
    width: 40%;
    margin: 50px auto ;
    box-shadow: 5px  5px  10px  rgba(0, 0, 0, 0.418);
    display: inline-block;
}
p {
    text-align: left;
}
#div {
    text-align: left;
}
footer {
    text-align: center;
    color: black;
    font-style: italic;
    position: absolute center;
}
#msg {
    margin-top: 15px;
}
input#confirmar, #finalizar, #recomeçar {
    margin-top: 10px;
}
