body {
    background: rgb(112, 112, 223);
    font: normal 15pt Arial;
}
header {
    text-align: center;
    color: white; /* cor de todo o texto do header*/
}
section {
    background: white;
    border-radius: 10px; /* borda arredondada */
    padding: 15px;
    width: 500px; /* largura */
    margin: auto; /* Margen centraliza automáticamente*/
    /*text-align: center;*/
    box-shadow: /*sombreamento da caixa*/ 5px /*deslocamento lateral*/ 5px /*deslocamento vertical*/ 10px /*espalhamento*/ rgba(0, 0, 0, 0.418);
}
footer {
    text-align: center;
    color: white;
    font-style: italic;
}
div#msg {
    margin-top: 10px;
}